#rest-name{
    color: #262730 ;
    text-align: center;
    font: italic;
}
.card{
    background-color: #D7C0D0;
    width:500px;
    text-align: center;
    }
#dish-name {
    color: white;
}
body{
    outline-style: dashed;
    }
 